*{
    padding: 0;
    margin: 0;
}

.height100{
    height: 100vh;
}

.height100Px{
    height: 120px;
}

.height150Px{
    height: 150px;
}

.height200Px{
    height: 200px;
}

.height600px{
    height: 600px;
}

.height700Px{
    height: 700px;
}
.height800Px{
    height: 800px;
}


.height500px{
    height: 500px;
}

.height400px{
    height: 400px;
}

.text-small{
    font-size: 0.7rem;
}

.height200{
    height: 200vh;
}

.height30{
    height: 30vh;
}

.w-15{
    width: 15%;
}
.w-10{

}

.w-85{
    width: 85%;
}