*{
    padding: 0;
    margin: 0;
}


.question{
    font-size: 1.2rem;
    font-weight: 600;
}

.background-Lapis-lazuli{
    background-color: #006494;
}

.background-jeopardy{
    background-color: #0D6EFD;
}

.background-color-jeopardy-orange{
    background-color: #FD9D0D
}

.button-jeopardy-orange{
    background-color: #FD9D0D;
}

.button-jeopardy-orange:hover{
    background-color: #FDED0D;
    font-weight: bolder;
}

.border-jeopardy-orange{
    border: 3px solid #FD9D0D;
}

.complement-board-bg{
    background-color: #2054E8;
}


.text-jeopardy-yellow{
    color: #FDED0D;
}

.text-jeopardy-yellow:hover{
    color: #FD9D0D;
    font-weight: bolder;
}

.text-jeopardy-orange{
    color: #FD9D0D;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black grey;
}

.input-jeopardy-blue{
    background-color: #2054E8;
    color: #FDED0D;
}

.input-jeopardy-blue:focus{
    background-color: #0D6EFD;
    color: #FDED0D;

}



.jeopardy-scrollbar{
    scrollbar-width: thin;
    scrollbar-color: #FD9D0D #FDED0D;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: grey
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 100px;
    border: 3px solid black;
}



.height100{
    height: 100vh;
}
.height30px{
    height: 30px;
}

.height40px{
    height: 40px;
}

.height50px{
    height: 50px;
}
.height60px{
    height: 60px;
}

.height100Px{
    height: 120px;
}

.height150Px{
    height: 150px;
}

.height200Px{
    height: 200px;
}

.height300Px{
    height: 300px;
}


.height600px{
    height: 600px;
}

.height700px{
    height: 700px;
}
.height800px{
    height: 800px;
}

.height825x{
    height: 825px;
}
.height850px{
    height: 850px;
}


.height875px{
    height: 875px;
}

.height900px{
    height: 900px;
}
.height925px{
    height: 930px;
}


.height500px{
    height: 500px;
}

.height400px{
    height: 400px;
}

.text-small{
    font-size: 0.7rem;
}

.height200{
    height: 200vh;
}

.height30{
    height: 30vh;
}


.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}

.w-20{
    width: 20%;
}

.w-85{
    width: 85%;
}

.game_question{

}
.game_question:hover{
    border: yellow  3px solid;
}