
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tableFixHead{

}

.tableFixHead thead th{
    position: sticky;
    #background-color: #fff;
    opacity: 1;
    top: 0;
}

.sticky{
    position: sticky;
    top: auto;
    #background-color: #fff;
    opacity: 1;
}


table{
    border-collapse: collapse;
    width: 100%;
    /*color: #588c7e;*/
    /*font-family: monospace;*/
    /*font-size: 25px;*/
    /*text-align: left;*/
}