
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tableFixHead{
    background-color: #f5f5f5;
}

.tableFixHead thead tr{
    position: sticky;
    opacity: 2;
    background-color: #476a6f;
    height: 1vh;
    top: 0;
}

.delete_button{
    background-color: #476a6f;
    
}

.tableFixHead tbody tr{
    background-color: #519e8a;
}

.sticky{
    position: sticky;
    top: auto;
    opacity: 1;
}


table{
    border-collapse: collapse;
    width: 100%;
    /*color: #588c7e;*/
    /*font-family: monospace;*/
    /*font-size: 25px;*/
    /*text-align: left;*/
}